[user]
  name = mfykmn
  email = mfykmn@gmail.com

[color]
  ui = auto

[push]
  default = current

[core]
  excludesfile = ~/dotfiles/git/.gitignore_global

[ghq]
  root = ~/repo/src

[init]
  templatedir = ~/.git_template/hooks

[fetch]
  prune = true
