[user]
  name = mfykmn
  email = mfykmn@gmail.com

[includeIf "gitdir:~/workspace/github.com/"]
  path = ~/workspace/dotfiles/git/gitconfig.github

[color]
  ui = auto

[push]
  default = current

[core]
  excludesfile = ~/workspace/dotfiles/git/.gitignore_global
  autocrlf = input

[ghq]
  root = ~/workspace

[init]
  templatedir = ~/.git_template/hooks

[fetch]
  prune = true
